# ``conda env create --file environment.yml``
# or
# ``conda env create --name <myEnvName> --file environment.yml``
# For python 2.7 etc, either edit below, i.e. python=2.7 or
# ```
#    conda create --name <myEnvName> python=2.7
#    conda env update --name <myEnvName> --file environment.yml
# ```

name: catkit
dependencies:
  - astropy>=1.3
  - numpy>=1.15.0,<1.20
  - conda-forge::pyusb
  - flake8
  - h5py
  - matplotlib
  - conda-forge::photutils==1.0.2
  - pip
  - psutil
  - pyserial
  - pysnmp
  - pytest
  - python=3.7.6
  - conda-forge::pyvisa>=1.10
  - conda-forge::pyvisa-py
  - requests
  - scikit-image>=0.17
  - scipy
  - sphinx
  - pip:
    - zwoasi>=0.0.21 # Requires additional manual install of driver(s) from https://astronomy-imaging-camera.com/software-drivers
    - ftd2xx # Requires additional manual install of driver from https://www.ftdichip.com/Drivers/D2XX.htm
    - hcipy
    - git+https://github.com/spacetelescope/poppy.git@v0.9.2
