name: catkit CI

on:
  pull_request:
    branches:
    - master
    - develop

jobs:
  syntax-lint:
    name: flake8 (syntax only) on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.6, 3.7]
    env:
        # http://flake8.pycqa.org/en/latest/user/error-codes.html
        EXCLUDE_DIRS: catkit/hardware/newport/lib,catkit/hardware/boston/sdk
        SELECTIONS: E9
        IGNORE: ""
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install flake8
      shell: bash
    - name: Lint with flake8
      run: flake8 . --max-line-length=127 --count --statistics --exclude=$EXCLUDE_DIRS --select=$SELECTIONS --ignore=$IGNORE
      shell: bash

  style-lint:
    name: flake8 on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.6, 3.7]
    env:
      # http://flake8.pycqa.org/en/latest/user/error-codes.html
      EXCLUDE_DIRS: catkit/hardware/newport/lib,catkit/hardware/boston/sdk
      SELECTIONS: E4,E7,W6,F821,F822
      IGNORE: W605
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install flake8
        shell: bash
      - name: Lint with flake8
        run: flake8 . --max-line-length=127 --count --statistics --exclude=$EXCLUDE_DIRS --select=$SELECTIONS --ignore=$IGNORE
        shell: bash

  pytest:
    name: Pytests on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    needs: syntax-lint
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.6]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
      with:
        lfs: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Include $CONDA in $PATH
      run: echo ::add-path::$CONDA/bin
    - name: Install dependencies
      run: |
        conda env create --file environment.yml
        source activate catkit
        python setup.py develop
        git clone https://${{secrets.GITHUB_USER}}:${{secrets.TOKEN}}@github.com/spacetelescope/hicat-package
        cd hicat-package
        python setup.py develop
      shell: bash
    - name: Test with pytest
      run: |
        source activate catkit
        pytest .
      shell: bash
