name: catkit CI

on:
  pull_request:
    types: [review_requested, ready_for_review]
    branches:
    - master
    - develop

jobs:
  syntax-lint:
    name: flake8 (syntax only) on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.7.9]
    env:
        # http://flake8.pycqa.org/en/latest/user/error-codes.html
        EXCLUDE_DIRS: catkit/hardware/newport/lib,catkit/hardware/boston/sdk
        SELECTIONS: E9
        IGNORE: ""
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install flake8
      shell: bash
    - name: Lint with flake8
      run: flake8 . --max-line-length=127 --count --statistics --exclude=$EXCLUDE_DIRS --select=$SELECTIONS --ignore=$IGNORE
      shell: bash

  style-lint:
    name: flake8 on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.7.9]
    env:
      # http://flake8.pycqa.org/en/latest/user/error-codes.html
      EXCLUDE_DIRS: catkit/hardware/newport/lib,catkit/hardware/boston/sdk
      SELECTIONS: E4,E7,W6,F821,F822
      IGNORE: W605
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install flake8
        shell: bash
      - name: Lint with flake8
        run: flake8 . --max-line-length=127 --count --statistics --exclude=$EXCLUDE_DIRS --select=$SELECTIONS --ignore=$IGNORE
        shell: bash

  catkit-pytest:
    name: catkit pytests on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    needs: syntax-lint
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.7.9]
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1
      with:
          lfs: true
    - uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.python-version }}
    - uses: conda-incubator/setup-miniconda@v2
      with:
          auto-update-conda: true
          auto-activate-base: false
    - name: Install dependencies
      run: |
        sed -E 's/[ \t]*-[ \t]*python[=<>0-9.,]*/  - python=${{ matrix.python-version }}/' environment.yml > environment2.yml
        conda env create --name ci-env --file environment2.yml
        conda activate ci-env
        python setup.py develop
      shell: bash -l {0}
    - name: Test with pytest
      run: |
        conda activate ci-env
        pytest .
      shell: bash -l {0}

  hicat-pytest:
    name: hicat pytests on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    needs: [syntax-lint, catkit-pytest]
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.7.9]
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1
      with:
          lfs: true
    - uses: actions/setup-python@v2
      with:
          python-version: ${{ matrix.python-version }}
    - uses: conda-incubator/setup-miniconda@v2
      with:
          auto-update-conda: true
          auto-activate-base: false
    - name: Install dependencies
      run: |
        sed -E 's/[ \t]*-[ \t]*python[=<>0-9.,]*/  - python=${{ matrix.python-version }}/' environment.yml > environment2.yml
        conda env create --name ci-env --file environment2.yml
        cd ../
        git clone https://${{secrets.GITHUB_USER}}:${{secrets.TOKEN}}@github.com/spacetelescope/hicat-package
        cd hicat-package
        git checkout develop
        git describe --dirty --long
        sed -E 's/[ \t]*-[ \t]*python[=<>0-9.,]*/  - python=${{ matrix.python-version }}/' environment.yml > environment2.yml
        conda env update --name ci-env --file environment2.yml
        conda activate ci-env
        python setup.py develop
        cd ../catkit
        python setup.py develop
      shell: bash -l {0}
    - name: Test with pytest
      run: |
        conda activate ci-env
        cd ../hicat-package
        git lfs pull
        pytest hicat
      shell: bash -l {0}
